{% extends 'base.html' %}

{% block 'titulo' %}Cadastro{% endblock %}

{% block 'conteudo' %}
<style>
  body{
    background-color:#f0f0f5;
  }
</style> 
<div class="container">
    <br>
    {% if status == '0' %}
    <div class="alert alert-success" role="alert">
        Cadastro realizado com sucesso!
      </div>
    {% endif %}

    {% if status == '1' %}
    <div class="alert alert-danger" role="alert">
        Nome e Email não podem estar vazios.
      </div>
    {% endif %}

    {% if status == '2' %}
    <div class="alert alert-danger" role="alert">
        A senha deve ter pelo menos 8 caracteres.
      </div>
    {% endif %}

    {% if status == '3' %}
    <div class="alert alert-danger" role="alert">
        Usuario ja cadastrado.
      </div>
    {% endif %}

    {% if status == '4' %}
    <div class="alert alert-danger" role="alert">
        Erro interno do sistema.
      </div>
    {% endif %}
    <div class="row mt-5">
        <div class="col-md d-flex justify-content-center">
          <div class="card shadow mb-5 rounded" style="width: 400px; background-color: rgba(255, 255, 255, 0.3);">
          <div class="card-header text-center text-uppercase">Cadastre-se</div>
            <div class="card-body">
              <div class="card-text">
                <form method="POST" action="{% url 'valida_cadastro' %}"> {% csrf_token %}
                  <div class="row">
                    <div class="col-12 form-group">
                      <label>Nome</label>
                      <input name="nome" class="form-control" type="text">
                    </div>
                    <div class="col-12 form-group">
                      <label>Email</label>
                      <input name="email" class="form-control" type="text">
                    </div>
                    <div class="col-12 form-group">
                      <label>Senha</label>
                      <input name="senha" class="form-control" type="password">
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                      <div>Já tem cadastro? <a href="{%url 'login'%}">Clique aqui.</a></div>
                      <input class="btn btn-primary" type="submit" value="Salvar">
                    </div>
                    
                  </div>
    
                    
                </form>
              </div>
            </div>
          </div>
        
            
        </div>

    </div>
</div>





{% endblock %}